<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Clown Date</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/home">Home</a></li>
      <li><a href="#/profile">Profile</a></li>
    </ul>
    <p class="navbar-text navbar-right" ng-show='user'>Signed in as <a class="navbar-link" ng-click='logout()'>Mark Otto</a></p>
  </div>
</nav>
