<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Clown Date</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-show='userState'><a ng-href="#/home">Home</a></li>
      <li ng-show='userState'><a ng-href="#/profile">New Profile</a></li>
      <li ng-show='userState'><a ng-href="#/profileView">View Profiles</a></li>
    </ul>
    <p class="navbar-text navbar-right" ng-show='userState'>Signed in as <a class="navbar-link" ng-href='#/logout'>{{ user }}</a></p>
  </div>
</nav>
